.App{
padding: 2em 1.5em;
}

.app_header{
display: flex;
margin-bottom: 1em;
justify-content: space-between;
}


.app__Btn__create{
background-color:var(--buttonColor);
color: white;
padding: 0.5em 1.5em;
border-radius: 0.5em;
transition: transform 200ms ease, box-shadow 200ms ease;
}

.app__Btn__create:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.2em black;
    filter: brightness(1.15);
}




.app__title{
    font-weight: 600;

}




.user__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}