@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


:root{
    --cardColor: #c2bfbf;
    --bodyColor: #E5E5E5;
    --buttonColor: #555A88;
    --deleteColor: #D93F3F;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #eee;
}

h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}

input{
    outline: none;
    font-family: inherit;
}

button{
    border: none;
    font-family: inherit;
    cursor: pointer;
}